<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>图书馆</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
  <div id="app">
    <div class="userBox" v-if="loginStatus">
      <el-input v-model="user_name" placeholder="请输入用户名" style="margin-bottom: 10px"></el-input>
      <el-input placeholder="请输入密码" v-model="password" show-password style="margin-bottom: 10px"></el-input>
      <template>
        <el-radio v-model="radio" label="0">管理员</el-radio>
        <el-radio v-model="radio" label="1">超级管理员</el-radio>
      </template>
      <el-upload style="margin-top: 20px" enctype="multipart/form-data" accept="image/*" class="avatar-uploader"
        action="http://localhost:3000/posts" :show-file-list="false" :on-success="handleAvatarSuccess">
        <img v-if="imageUrl" :src="imageUrl" class="avatar" />
        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
      </el-upload>
      <span>上传</span>
      <el-button @click="registerPost">注册</el-button>
    </div>
    <!-- <div v-if="!loginStatus" class="loginBox">
        
      </div> -->
  </div>
</body>

<script>
  new Vue({
    el: "#app",
    data() {
      return {
        user_name: "",
        password: "",
        radio: "0",
        imageUrl: "",
        loginStatus: false,
      };
    },
    mounted() {
      console.log("页面初始化完成222");
      this.checkLogin()
    },
    methods: {
      checkLogin() {
        axios
          .post('/checkLogin', {})
          .then((response) => {
            console.log(response)
            if (!response.data.result) {
              this.loginStatus = true;
            }
          })
          .catch((error) => {
            console.log(error)
          })
      },
      getData() {
        axios
          .post("/getUserIndex", {})
          .then((response) => {
            if (response.data.result == 1) {
              this.loginStatus = true;
            } else {
              this.loginStatus = false;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      handleAvatarSuccess(res, file) {
        console.log(res);
        this.imageUrl = res.data;
      },
      async beforeAvatarUpload(file) {
        alert('ddddddddd')
        let formData = new FormData();
        formData.append("file", file);
        let rs = await this.admin_apiUpload(formData);
        return true;
      },
      admin_apiUpload(formData) {
        new Promise((resolve, reject) => {
          axios
            .post("/posts", formData)
            .then((response) => {
              if (response.data.result == 1) {
                alert(response)
                resolve(response);
              } else {
                alert(response)
                resolve(response);
              }
            })
            .catch(function (error) {
              reject(error);
              console.log(error);
            });
        });
      },
      registerPost() {
        let _this = this;
        let json = {
          user_name: this.user_name,
          password: this.password,
          admin: this.radio,
          status: 0,
          image: this.imageUrl,
        };
        axios
          .post("/register", json)
          .then((response) => {
            if (response.data.result == 1) {
              this.info = response.data.data;
            } else {
              this.$message.error(response.data.msg);
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      },
    },
  });
</script>
<style>
  * {
    margin: 0;
  }

  .userBox {
    width: 428px;
    min-height: 545px;
    box-sizing: border-box;
    background: #999;
    border-radius: 3px;
    max-height: 545px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
  }

  .avatar-uploader i {
    background-color: #fff;
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }

  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }

  /* 登录 */
  .loginBox {
    width: 45vw;
    height: 40vh;
    border-radius: 10px;
    background-color: #999;
  }
</style>
<script>
  !(function () {
    function n(n, e, t) {
      return n.getAttribute(e) || t;
    }

    function e(n) {
      return document.getElementsByTagName(n);
    }

    function t() {
      var t = e("script"),
        o = t.length,
        i = t[o - 1];

      return {
        l: o,
        z: n(i, "zIndex", -1),
        o: n(i, "opacity", 0.5),
        c: n(i, "color", "0,0,0"),
        n: n(i, "count", 99),
      };
    }

    function o() {
      (a = m.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth),
        (c = m.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight);
    }

    function i() {
      r.clearRect(0, 0, a, c);

      var n, e, t, o, m, l;

      s.forEach(function (i, x) {
        for (i.x += i.xa, i.y += i.ya, i.xa *= i.x > a || i.x < 0 ? -1 : 1, i.ya *= i.y > c || i.y < 0 ? -1 : 1, r.fillRect(i.x - 0.5, i.y - 0.5, 1, 1), e = x + 1; e < u.length; e++)
          (n = u[e]),
            null !== n.x &&
            null !== n.y &&
            ((o = i.x - n.x),
              (m = i.y - n.y),
              (l = o * o + m * m),
              l < n.max &&
              (n === y && l >= n.max / 2 && ((i.x -= 0.03 * o), (i.y -= 0.03 * m)),
                (t = (n.max - l) / n.max),
                r.beginPath(),
                (r.lineWidth = t / 2),
                (r.strokeStyle = "rgba(" + d.c + "," + (t + 0.2) + ")"),
                r.moveTo(i.x, i.y),
                r.lineTo(n.x, n.y),
                r.stroke()));
      }),
        x(i);
    }

    var a,
      c,
      u,
      m = document.createElement("canvas"),
      d = t(),
      l = "c_n" + d.l,
      r = m.getContext("2d"),
      x =
        window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.oRequestAnimationFrame ||
        window.msRequestAnimationFrame ||
        function (n) {
          window.setTimeout(n, 1e3 / 45);
        },
      w = Math.random,
      y = { x: null, y: null, max: 2e4 };
    (m.id = l),
      (m.style.cssText = "position:fixed;top:0;left:0;z-index:" + d.z + ";opacity:" + d.o),
      e("body")[0].appendChild(m),
      o(),
      (window.onresize = o),
      (window.onmousemove = function (n) {
        (n = n || window.event), (y.x = n.clientX), (y.y = n.clientY);
      }),
      (window.onmouseout = function () {
        (y.x = null), (y.y = null);
      });

    for (var s = [], f = 0; d.n > f; f++) {
      var h = w() * a,
        g = w() * c,
        v = 2 * w() - 1,
        p = 2 * w() - 1;
      s.push({ x: h, y: g, xa: v, ya: p, max: 6e3 });
    }

    (u = s.concat([y])),
      setTimeout(function () {
        i();
      }, 100);
  })();
</script>

</html>