<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>yyds</title>
</head>

<body>
  <div id="app">
    <el-container>
      <el-header>
        <el-menu :default-active="activeIndex" mode="horizontal" class="headerBox">
          <el-menu-item index="1">首页</el-menu-item>
          <el-menu-item index="2">联系我们</el-menu-item>
          <el-menu-item index="3">处理中心</el-menu-item>
          <el-menu-item index="4">处理中心</el-menu-item>
        </el-menu>
      </el-header>
      <el-container>
        <el-aside width="200px" style="height: 100vh;background: #eee;">
          <el-row>
            <el-col :span="12">
              <el-menu :default-active="activeIndex1" @select="handleSelect">
                <el-menu-item index="1">
                  <i class="el-icon-menu"></i>
                  <span slot="title">任务清单</span>
                </el-menu-item>
                <el-menu-item index="2">
                  <i class="el-icon-s-help"></i>
                  <span slot="title">创建任务</span>
                </el-menu-item>
              </el-menu>
            </el-col>
          </el-row>


        </el-aside>
        <el-main>
          <transition name="fade">
            <div class="mainBox" v-if="showTabsind == 1">
              <el-descriptions class="margin-top" :column="2" :size="size" border v-for="(item,ind) in listinfo" :key="ind">
                <!-- <template slot="extra">
                  <el-button type="primary" size="small">操作</el-button>
                </template> -->
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-user"></i>
                    客户
                  </template>
                  {{item.name}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-mobile-phone"></i>
                    手机号
                  </template>
                  {{item.phone}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-location-outline"></i>
                    居住地
                  </template>
                  {{item.adress}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-tickets"></i>
                    备注
                  </template>
                  <el-tag size="small">{{item.Remark}}</el-tag>
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-office-building"></i>
                    联系地址
                  </template>
                  {{item.contactAddress}}
                </el-descriptions-item>
                <el-descriptions-item>
                  <template slot="label">
                    <i class="el-icon-guide"></i>
                    状态
                  </template>
                  <el-button class="mainBoxBtn" size="small" disabled v-if="item.state == 0">未接单</el-button>
                  <el-button class="mainBoxBtn" size="small" disabled v-if="item.state == 1">跟进中</el-button>
                  <el-button type="primary" size="small" plain v-if="item.state != 0">结束任务</el-button>
                  <el-button type="primary" size="small" plain v-if="item.state == 0">接单</el-button>
                </el-descriptions-item>
              </el-descriptions>
            </div>
            <div class="mainBox" v-if="showTabsind == 2">
              <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="客户姓名">
                  <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="手机号">
                  <el-input v-model="form.phone"></el-input>
                </el-form-item>
                <el-form-item label="居住地">
                  <el-input v-model="form.adress"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                  <el-input v-model="form.Remark"></el-input>
                </el-form-item>
                <el-form-item label="联系地址">
                  <el-input v-model="form.contactAddress"></el-input>
                </el-form-item>
                <el-form-item label="状态">
                  <el-input v-model="form.state"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="onSubmit">立即创建</el-button>
                  <el-button>取消</el-button>
                </el-form-item>
              </el-form>
            </div>
          </transition>
        </el-main>
      </el-container>
    </el-container>

    <el-dialog :visible.sync="visible" :title="visibleTitle">
      <p>{{visibleConten}}</p>
    </el-dialog>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  !function () {

    function n(n, e, t) {

      return n.getAttribute(e) || t

    }

    function e(n) {

      return document.getElementsByTagName(n)

    }

    function t() {

      var t = e("script"), o = t.length, i = t[o - 1];

      return {

        l: o, z: n(i, "zIndex", -1), o: n(i, "opacity", .5), c: n(i, "color", "0,0,0"), n: n(i, "count", 99)

      }

    }

    function o() {

      a = m.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,

        c = m.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight

    }

    function i() {

      r.clearRect(0, 0, a, c);

      var n, e, t, o, m, l;

      s.forEach(function (i, x) {

        for (i.x += i.xa, i.y += i.ya, i.xa *= i.x > a || i.x < 0 ? -1 : 1, i.ya *= i.y > c || i.y < 0 ? -1 : 1, r.fillRect(i.x - .5, i.y - .5, 1, 1), e = x + 1; e < u.length; e++)n = u[e],

          null !== n.x && null !== n.y && (o = i.x - n.x, m = i.y - n.y,

            l = o * o + m * m, l < n.max && (n === y && l >= n.max / 2 && (i.x -= .03 * o, i.y -= .03 * m),

              t = (n.max - l) / n.max, r.beginPath(), r.lineWidth = t / 2, r.strokeStyle = "rgba(" + d.c + "," + (t + .2) + ")", r.moveTo(i.x, i.y), r.lineTo(n.x, n.y), r.stroke()))

      }),

        x(i)

    }

    var a, c, u, m = document.createElement("canvas"),

      d = t(), l = "c_n" + d.l, r = m.getContext("2d"),
      x = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||

        function (n) {

          window.setTimeout(n, 1e3 / 45)

        },

      w = Math.random, y = { x: null, y: null, max: 2e4 }; m.id = l, m.style.cssText = "position:fixed;top:0;left:0;z-index:" + d.z + ";opacity:" + d.o, e("body")[0].appendChild(m), o(), window.onresize = o,

        window.onmousemove = function (n) {

          n = n || window.event, y.x = n.clientX, y.y = n.clientY

        },

        window.onmouseout = function () {

          y.x = null, y.y = null

        };

    for (var s = [], f = 0; d.n > f; f++) {

      var h = w() * a, g = w() * c, v = 2 * w() - 1, p = 2 * w() - 1; s.push({ x: h, y: g, xa: v, ya: p, max: 6e3 })

    }

    u = s.concat([y]),

      setTimeout(function () { i() }, 100)

  }();

</script>
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        visible: false,
        visibleConten:'',
        visibleTitle:'',
        activeIndex: '1',
        activeIndex1: '1',
        size:'small',
        listinfo:[],
        showTabsind:1,
        // 表单
        form: {
          name: 'test',
          phone: 'test',
          adress: 'test',
          Remark: 'test',
          contactAddress: 'test',
          state: 'test',
        }
      }
    },
    mounted() {
      console.log("页面初始化完成222");
      this.getDataOrder();
    },
    methods:{
      handleSelect(e){
        this.showTabsind = e;
      },
      onSubmit(){
        axios.post('/apitest/overList', this.form)
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
      },
      getDataOrder(ordernos, appid) {
        let _this = this;
        axios.post('/apitest/checkUser', {})
        .then(function (response) {
          console.log(response);
          if(response.data.result == 1){
            _this.listinfo = response.data;
          }else{
            _this.visible = true;
            _this.visibleConten = response.data.msg;
            window.location.href='/yzm.html';
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      },
    }
  })
</script>
<style type="text/css">
  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .el-header {
    padding: 0;
  }

  .headerBox {
    padding-left: 200px;
  }

  .el-col-12 {
    width: 100%;
    text-align: center;
  }

  .mainBox {
    width: 1200px;
  }
  .mainBox .mainBoxBtn{
    border: none;
  }
</style>

</html>